.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box0 {
  margin: 50px 50px;
 border: black solid 5px;
 width: 390px;
 height: 300px;
 background-color: burlywood;
 display: flex;
 align-items: center;
 flex-direction:row;
  justify-content:space-around;
}
